* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
}

.main {
  height: 100vh;
  position: relative;
}
.main-header {
  position: fixed;
  top: 0;
  background-color: #000;
  height: 10vh;
  width: 100%;
  text-align: center;
  z-index: 10;
}
.main-header-logo {
  width: 15%;
  height: 100%;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .main-header-logo {
    width: 25%;
  }
}
.main-header i {
  display: none;
}
.main-submenu {
  position: absolute;
  height: 10vh;
  width: 100%;
  align-items: center;
  z-index: 2;
  display: flex;
  justify-content: center;
  background-color: transparent;
}
@media (max-width: 800px) {
  .main-submenu {
    flex-direction: column;
    width: 10%;
    height: 90vh;
    text-align: right;
    justify-content: end;
    padding-bottom: 45%;
  }
}
.main-submenu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #000;
  z-index: -1;
}
@media (max-width: 800px) {
  .main-submenu::before {
    background-color: transparent;
  }
}
@media (max-width: 800px) {
  .main-submenu a {
    width: 100%;
  }
}
.main-submenu a:not(:last-child) {
  margin-right: 2.5rem;
}
@media (max-width: 800px) {
  .main-submenu a:not(:last-child) {
    margin: 0;
  }
}
.main-submenu li {
  position: relative;
  transition: all 0.7s ease;
  cursor: pointer;
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 1px #000;
}
@media (max-width: 800px) {
  .main-submenu li {
    font-size: 0.8rem;
    width: 100%;
    padding-block: 0.2rem;
    color: #696969;
  }
}
.main-submenu li:hover {
  margin-bottom: 0.6rem;
  color: #fff;
}
@media (max-width: 800px) {
  .main-submenu li:hover {
    color: #fff;
    margin-left: 1rem;
    margin-bottom: 0;
  }
}
.main-video {
  margin-top: 10vh;
  height: 90vh;
}
.main-video img {
  object-fit: cover;
}

.section {
  height: 90vh;
  background-color: #fff;
  color: #000;
  display: flex;
  width: 90%;
  margin: 0 auto;
  position: relative;
  align-items: center;
  z-index: -2;
  padding-bottom: 10%;
}
@media (max-width: 1050px) {
  .section {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.section-text {
  width: 40%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}
@media (max-width: 1050px) {
  .section-text {
    width: 100%;
    height: 30vh;
  }
}
@media (max-width: 1050px) {
  .section-text {
    width: 100%;
    height: 15vh;
  }
}
.section-text h3 {
  color: rgb(150, 16, 43);
  text-shadow: 1px 0 0 #000;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.section-text p {
  width: 90%;
  margin: 0 auto;
  position: relative;
  font-size: 1.1rem;
  background-color: #fff;
  padding: 0.5rem;
}
@media (max-width: 650px) {
  .section-text p {
    width: 100%;
  }
}
.section-text p::before {
  position: absolute;
  content: "";
  background-color: rgb(150, 16, 43);
  height: 20%;
  width: 8%;
  top: -8%;
  left: -3%;
  z-index: -1;
  box-shadow: 1px 1px 2px #000;
}
@media (max-width: 1050px) {
  .section-text p::before {
    top: -10%;
    height: 40%;
    width: 5%;
    left: -1%;
  }
}
.section-text p::after {
  position: absolute;
  content: "";
  background-color: rgb(150, 16, 43);
  height: 20%;
  width: 8%;
  bottom: -8%;
  right: -3%;
  z-index: -1;
  box-shadow: 1px 1px 2px #000;
}
@media (max-width: 1050px) {
  .section-text p::after {
    bottom: -7%;
    height: 40%;
    width: 5%;
    right: -1%;
  }
}
.section-image {
  position: relative;
  width: 60%;
  height: 90vh;
}
@media (max-width: 1050px) {
  .section-image {
    width: 100%;
  }
}
.section-image-pic1 {
  position: absolute;
  height: 55%;
  width: 55%;
  top: 10%;
  left: 10%;
}
@media (max-width: 1200px) {
  .section-image-pic1 {
    width: 60%;
    height: 60%;
    top: 5%;
    left: 5%;
    object-fit: contain;
  }
}
@media (max-width: 650px) {
  .section-image-pic1 {
    height: 75%;
    width: 75%;
    top: 0%;
    left: 0%;
  }
}
.section-image-pic2 {
  position: absolute;
  height: 50%;
  width: 50%;
  right: 10%;
  bottom: 10%;
}
@media (max-width: 1200px) {
  .section-image-pic2 {
    width: 60%;
    height: 60%;
    bottom: 5%;
    right: 5%;
  }
}
@media (max-width: 650px) {
  .section-image-pic2 {
    height: 75%;
    width: 75%;
    bottom: 0%;
    right: 0%;
  }
}

.article {
  height: 90vh;
  background-color: #000;
  display: flex;
}
@media (max-width: 1050px) {
  .article {
    flex-direction: column;
  }
}
.article-me {
  height: 90vh;
  width: 70%;
  display: flex;
  align-items: center;
}
@media (max-width: 1050px) {
  .article-me {
    width: 100%;
    height: 60%;
  }
}
.article-me-pic {
  width: 40%;
  height: 70vh;
}
@media (max-width: 1050px) {
  .article-me-pic {
    width: 30%;
    height: 100%;
  }
}
@media (max-width: 800px) {
  .article-me-pic {
    width: 40%;
  }
}
.article-me-info {
  width: 60%;
  height: 90vh;
  position: relative;
}
@media (max-width: 1050px) {
  .article-me-info {
    width: 70%;
    height: 100%;
    display: flex;
  }
}
.article-me-info-stats {
  position: relative;
  height: 60vh;
  text-align: center;
}
@media (max-width: 1050px) {
  .article-me-info-stats {
    height: 65%;
  }
}
@media (max-width: 800px) {
  .article-me-info-stats {
    height: 60%;
  }
}
.article-me-info-stats-nome {
  display: inline-block;
  margin-block: 1rem 0;
  position: relative;
  color: rgb(235, 43, 43);
  text-shadow: 1px 0 0 #9c3b3b;
  font-size: 1.8rem;
  top: 0;
}
@media (max-width: 1050px) {
  .article-me-info-stats-nome {
    font-size: 2.3rem;
    margin-block: 2rem;
  }
}
@media (max-width: 800px) {
  .article-me-info-stats-nome {
    font-size: 1.7rem;
  }
}
.article-me-info-stats-info {
  text-align: center;
  width: 90%;
  margin: 2% auto 0;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (max-width: 1200px) {
  .article-me-info-stats-info {
    font-size: 0.9rem;
  }
}
@media (max-width: 1050px) {
  .article-me-info-stats-info {
    width: 100%;
    margin-top: 3rem;
  }
}
@media (max-width: 800px) {
  .article-me-info-stats-info {
    font-size: 1rem;
  }
}
@media (max-width: 650px) {
  .article-me-info-stats-info {
    font-size: 0.8rem;
  }
}
.article-me-info-stats-info span {
  color: #e94c4c;
  font-weight: bold;
  font-size: 1.5rem;
}
.article-me-info-video {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%);
  height: 30vh;
  width: 70%;
}
@media (max-width: 1050px) {
  .article-me-info-video {
    width: 75%;
    height: 40%;
    display: none;
  }
}
@media (max-width: 800px) {
  .article-me-info-video {
    width: 70%;
    height: 35%;
  }
}
@media (max-width: 650px) {
  .article-me-info-video {
    width: 75%;
    height: 32%;
  }
}
.article-players {
  height: 90vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1050px) {
  .article-players {
    width: 95%;
    height: 35%;
    margin: 0 auto;
  }
}
.article-players ul {
  display: flex;
  width: 70%;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1050px) {
  .article-players ul {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 650px) {
  .article-players ul {
    flex-wrap: wrap;
    height: 90%;
  }
}
.article-players ul li {
  width: 50%;
  height: 20%;
  overflow: hidden;
}
@media (max-width: 1050px) {
  .article-players ul li {
    width: 20%;
    height: 50%;
  }
}
.article-players ul li:hover img {
  transform: scale(1.2);
}
.article-players ul li img {
  object-fit: cover;
  transition: all 1s ease-in;
}

.article-2 {
  background-image: url("imagem/book.png");
  height: 80vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 10vh auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .article-2 {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .article-2 {
    width: 100%;
  }
}
.article-2 i {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: absolute;
  top: -5%;
  left: 0;
  color: rgb(233, 74, 74);
}
.article-2 i p {
  font-size: 0.8rem;
  margin-left: 1%;
  text-align: center;
}
.article-2 i p span {
  text-decoration: underline;
  font-weight: bold;
}
.article-2-livro {
  width: 85%;
  height: 90%;
  margin-bottom: 2%;
  display: flex;
}
.article-2-livro-pag1 {
  width: 50%;
  height: 100%;
  text-align: center;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 650px) {
  .article-2-livro-pag1 {
    padding-right: 1%;
  }
}
.article-2-livro-pag1-info {
  height: 65%;
  margin-bottom: 5%;
  background-color: #000;
  position: relative;
  box-shadow: 2px 2px 2px #000000;
  z-index: 3;
}
@media (max-width: 800px) {
  .article-2-livro-pag1-info {
    height: 70%;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media (max-width: 650px) {
  .article-2-livro-pag1-info {
    width: 90%;
  }
}
.article-2-livro-pag1-info::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  top: 0%;
  left: 0%;
  box-shadow: 2px 2px 2px #000000;
  transform: rotate(180deg);
}
.article-2-livro-pag1-info-nome {
  height: 15%;
  text-decoration: underline;
  color: rgb(163, 146, 47);
  font-size: 2rem;
  text-shadow: 0px 1px 1px rgb(163, 146, 47);
}
@media (max-width: 800px) {
  .article-2-livro-pag1-info-nome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25%;
    font-size: 2.3rem;
  }
}
.article-2-livro-pag1-info-video {
  height: 75%;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 800px) {
  .article-2-livro-pag1-info-video {
    height: 50%;
  }
}
.article-2-livro-pag1-info-skill {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
@media (max-width: 800px) {
  .article-2-livro-pag1-info-skill {
    height: 20%;
    font-size: 0.9rem;
  }
}
.article-2-livro-pag1-lorem {
  height: 30%;
  padding-top: 1rem;
  display: flex;
  color: #000;
  font-weight: bold;
}
@media (max-width: 800px) {
  .article-2-livro-pag1-lorem {
    height: 25%;
    width: 90%;
    margin-inline: auto;
    font-size: 0.8rem;
  }
}
.article-2-livro-pag2 {
  width: 50%;
  height: 100%;
  padding-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.article-2-livro-pag2-control {
  height: 30%;
}
@media (max-width: 800px) {
  .article-2-livro-pag2-control {
    height: 25%;
    width: 85%;
  }
}
@media (max-width: 650px) {
  .article-2-livro-pag2-control {
    height: 20%;
  }
}
.article-2-livro-pag2-combo {
  height: 65%;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
  box-shadow: 2px 2px 2px #000000;
  z-index: 3;
}
@media (max-width: 800px) {
  .article-2-livro-pag2-combo {
    height: 70%;
  }
}
@media (max-width: 650px) {
  .article-2-livro-pag2-combo {
    height: 75%;
    margin-bottom: 3%;
    width: 90%;
  }
}
.article-2-livro-pag2-combo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  z-index: -1;
  top: 0%;
  left: 0%;
  box-shadow: 2px 2px 2px #000000;
  transform: rotate(180deg);
}
.article-2-livro-pag2-combo li {
  overflow: hidden;
  height: 20%;
  object-fit: cover;
  width: 100%;
  margin: 0 auto;
  border-radius: 0 25% 25% 0;
  border-bottom: 2px solid #252525;
}
.article-2-livro-pag2-combo li img {
  transition: all 1s ease;
}
.article-2-livro-pag2-combo li img:hover {
  margin-left: 1rem;
}

.article-3 {
  height: 90vh;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.article-3-title {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.article-3-title h2 {
  font-size: 2.2rem;
  color: rgb(150, 16, 43);
  text-shadow: 1px 0 0 #000;
  font-family: cursive;
}
.article-3-box {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 100rem;
  position: relative;
}
@media (max-width: 800px) {
  .article-3-box {
    perspective: 30rem;
  }
}
@media (max-width: 650px) {
  .article-3-box {
    perspective: 10rem;
  }
}
.article-3-box-cards {
  position: relative;
  width: 30rem;
  height: 22rem;
  transform-style: preserve-3d;
  transform: translateZ(-35rem);
  transition: transform 0.3s ease-in;
}
@media (max-width: 800px) {
  .article-3-box-cards {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.article-3-box-cards-card {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  font-size: 3rem;
  font-weight: 700;
}
@media (max-width: 800px) {
  .article-3-box-cards-card {
    width: 95%;
    height: 95%;
  }
}
@media (max-width: 650px) {
  .article-3-box-cards-card {
    width: 70%;
    height: 70%;
  }
}
.article-3-box-cards-card:nth-child(1) {
  transform: rotateY(0deg) translateZ(25rem);
}
.article-3-box-cards-card:nth-child(2) {
  transform: rotateY(60deg) translateZ(25rem);
}
.article-3-box-cards-card:nth-child(3) {
  transform: rotateY(120deg) translateZ(25rem);
}
.article-3-box-cards-card:nth-child(4) {
  transform: rotateY(180deg) translateZ(25rem);
}
.article-3-box-cards-card:nth-child(5) {
  transform: rotateY(240deg) translateZ(25rem);
}
.article-3-box-cards-card:nth-child(6) {
  transform: rotateY(300deg) translateZ(25rem);
}
.article-3-box-cards-card-pict {
  width: 100%;
  height: 100%;
  display: inline-block;
  object-fit: fill;
}

.main,
.article,
.article-2 {
  margin-bottom: 10vh;
}

/*# sourceMappingURL=style.css.map */
